@media only screen and (max-width: 1100px) {
    .work-image-wrapper{
        width: calc(50% - 73px);
        height: 200px;
    }
}

@media only screen and (max-width: 955px) {
    #video-container{
        margin-top: -5px;
        margin-bottom: -20px;
        padding-bottom: 56.26%;
        height: 0;
    }
    
    #video-container.active{
/*
        position: fixed;
        margin-top: 0px;
        min-height: 0;
        top: 45px;
        left: 0px;
*/
/*        left: 15px;*/
        width: calc(100% - 60px);
        height: calc(100% - 130px);
        z-index: 6;
        background-color: #ffffff;
        padding: 20px 30px;
        display: -webkit-flex;
        display: flex;
        cursor: default;
    }
    
    #video{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 3;
    }
    
    #video.active{
        top: 20px;
        left: 30px;
        width: calc(100% - 60px);
        height: calc(100% - 40px);
    }
}

@media only screen and (max-width: 800px) {
    .work-image-wrapper{
        height: 150px;
    }
}

@media only screen and (max-width: 500px){
    
    p, a{  
        font-size: 14px;
    } 
    
    .idle-state{
        font-size: 11px;
    }
    
    #pdf-container, #video-container{
        top: 42px;
        height: calc(100% - 124px);
    }
    
    .section{
        margin-left: 15px;
    }
    
    #body-content{
        margin-top: 27px;
    }
    
    .contact p{
        margin-right: 0px;
    }
    
    .thumbnail-wrapper{
        bottom: 12px;
    }
    
    .fixed-section{
        border-top: 1px solid #000000;
        border-bottom: 1px solid #000000;
    }
    
    .section-title{
        top: 42px;
    }
    
    .toggle-sign{
        margin-left: -17px;
        padding-right: 9px
    }
    
    #carousel-container.active{
        top: 41px;
        height: calc(100% - 122px);
    }
    
    #nav a{
        line-height: 26px;
    }
    
    #carousel-left p, #carousel-right p{
        font-size: 21px;
        line-height: 16px;
    }
    
    .work-image-wrapper{
        width: calc(100% - 74px);
    }
    
    .contact {
        height: 26px;
    }
    
    #work-section{
        padding-top: 0px;
    }
    
    #video-pause-btn{
/*
        font-size: 9px;
        position: relative;
        top: -2px;
*/
        letter-spacing: -6px;
    }

    #video-play-btn{
/*
        position: relative;
        top: 0px;
*/
        letter-spacing: -6px;
    }
}